<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ploum Blog Crawler - {% block title %}{% endblock %}</title>
</head>
<body>
  <header>
    {% block header %}{% endblock %}
    <nav>
      <ul id="menu">
        <li><a href="/">Home/Search</a></li>
        <li><a href="/posts/dependency-graph">Posts dependency graph</a></li>
      </ul>
    </nav>
    <hr>
  </header>
  <section class="content">
    {% block content %}{% endblock %}
  </section>
</body>
</html>
