{% extends "base.html" %}

{% block title %} Home/Search {% endblock %}

{% block Header %}
  <h1>Posts dependency graph</h1>
{% endblock %}

{% block content %}
  <style>
    .link {
      fill: none;
      stroke: #666;
      stroke-width: 1.5px;
    }
    circle {
      fill: #ccc;
      stroke: #333;
      stroke-width: 1.5px;
    }
    text {
      font: 10px sans-serif;
      pointer-events: none;
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    }
  </style>
  <div id="canvas-svg"></div>
  {% load staticfiles %}
  <script src="{% static 'd3.v3.min.js' %}"></script>
  <script src="{% static 'dependency_graph.js' %}"></script>
{% endblock %}
