{% extends "base.html" %}

{% block title %} Home/Search {% endblock %}

{% block Header %}
  <h1>Home/Search</h1>
{% endblock %}

{% block content %}
  <label for="query">Search in post contents</label>
  <input id="query" type="text">
  <div class="button">
    <button type="submit" onclick="search()">Search</button>
  </div>

  <dl>
    {% for title, url, content_preview in results %}
      <dt><a href="{{ url }}">{{ title }}</a></dt>
      <dd>{{ content_preview }}</dd>
    {% endfor %}
  </dl>

  {% load staticfiles %}
  <script src="{% static 'home.js' %}"></script>
{% endblock %}
